:root
{
  /*our colors */

  --primary-color: #73287E;
  --second-color : rgba(222, 133, 82, 0.25);


  --base-font-size: 62.5%;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html
{
  background-color: var(--second-color);
  
  font-size: var(--base-font-size);
}

html, body{

  width: 100%;
  height: 100%;
}

body {

  font-family: 'DM Sans';
  text-align: center;

  width: min(45rem, 100%);
  margin-inline: auto;
  /*padding-inline: 2.4rem;*/

}

header
{
  margin-block: 1.5rem; 
  margin-inline: 0;


  display: flex;
  flex-direction: row;
  justify-content: space-around;

  gap: 25rem;
}

button 
{
  text-decoration: none;
  border: none;
  background-color: transparent;


}

header button{
  padding: 0.26rem 0.26rem;

  cursor: pointer;
}

section#home
{
  position: relative;
  max-height: 100%;
  height: 45rem;
}

section#home img
{
  max-width: 100%;
  width:100%;
  height: 35rem;
  display: block;
}

section#home #block
{

  background-color: var(--primary-color);
  color: #fff;

  font-weight: 100;

  width: 100%;

  padding-block: 1.5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  max-height: 10rem;

  position: absolute;
  top: 30%;
  left: 20%

  transform: translate(-50%, -50%);
  text-align: center;

  background-color: rgba(115, 40, 126, 0.5);
}

section#home #block h2
{
    font-family: 'Alfa Slab One';
    font-size: 2.5rem;

}

section#home #block h4
{
  font-family: 'Inter';
  font-size: 0.8rem;
}

/* --------- ABOUT US ------------ */

section#about-us
{
  background-color: #fff;
}


section .wrapper
{
  padding-block: 6rem;
  padding-inline: 2.5rem;

}


section .col-1
{
  text-align: left;
  margin-bottom: 3rem;
}

section .wrapper h3
{
  color: var(--primary-color);
  font-family: 'Inter';
  font-size: 2rem;

  margin-bottom: 1.5rem;
}

section .wrapper h2
{
  font-size: 2.4rem;

  font-weight: 700;

  margin-bottom: 1.5rem;
}

section p
{
  text-align: justify;
  font-family:'Inter';


  font-size: 1.2rem;

}

section .col-2 img
{
  max-width: 80%;
}