:root
{
  /*our colors */

  --primary-color: #73287E;
  --second-color : rgba(222, 133, 82, 0.25);


  --base-font-size: 62.5%;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html
{
  background-color: var(--second-color);
  
  font-size: var(--base-font-size);
}

html, body{

  width: 100%;
  height: 100%;
}

body {

  font-family: 'DM Sans';
  text-align: center;

  width: min(45rem, 100%);
  margin-inline: auto;
  /*padding-inline: 2.4rem;*/

}

header
{
  margin-block: 2.5%; 
  margin-inline: 0;


  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

button 
{
  text-decoration: none;
  border: none;
  background-color: transparent;


}

header button{
  padding: 0.26rem 0.26rem;

  cursor: pointer;
}

section#home
{
  position: relative;
}

section#home img
{
  max-width: 100%;
  width:100%;
  height: 25rem;
  display: block;
}

section#home #block
{

  background-color: var(--primary-color);
  color: #fff;

  font-weight: 100;

  width: 100%;

  padding-block: 1.5%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  max-height: 10rem;

  position: absolute;
  top: 30%;
  left: 20%

  transform: translate(-50%, -50%);
  text-align: center;

  background-color: rgba(115, 40, 126, 0.5);
}

section#home #block h2
{
    font-family: 'Alfa Slab One';
    font-size: 2.5rem;

    margin-block: 2%;
}

section#home #block h4
{
  margin-block: 2%;
  font-family: 'Inter';
  font-size: 0.8rem;
}

/* --------- ABOUT US ------------ */

section h3
{
  color: var(--primary-color);
  font-family: 'Inter';
  font-size: 2rem;
}

